<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198901692744-5qkpa5agc1nra48iu0tf14dt5bbl8nug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198901692744-5qkpa5agc1nra48iu0tf14dt5bbl8nug</string>
	<key>API_KEY</key>
	<string>AIzaSyAMMI_RmiZNenGPVKbn8WLK6LhILrbxW5s</string>
	<key>GCM_SENDER_ID</key>
	<string>198901692744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chriscosentinodev.TapChat</string>
	<key>PROJECT_ID</key>
	<string>exhibit-e33b1</string>
	<key>STORAGE_BUCKET</key>
	<string>exhibit-e33b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198901692744:ios:65d51a1daca7785b</string>
	<key>DATABASE_URL</key>
	<string>https://exhibit-e33b1.firebaseio.com</string>
</dict>
</plist>